.navbar a {
  color: #5262ad;
}

.navbar a::before {
  content: "";
  position: absolute;
  bottom: -19px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #5262ad;
  width: 0;
  height: 2px;
  transition: var(--trans-duration);
}

.navbar a:hover::before {
  width: 100%;
}
